@charset "UTF-8";
/*--------------------
-----Dep 1: Minh----
--------------------*/
/*--------------------
-----Dep 2: Vương----
--------------------*/
/*--------------------
-----Dep 1: Minh----
--------------------*/
/*--------------------
-----Dep 2: Vương----
--------------------*/
/*--------------------
-----Dep 1: Minh----
--------------------*/
/*--------------------
-----Dep 2: Vương----
--------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 62em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Ford Antenna Cond Light",arial,helvetica,sans-serif;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  font-size: 1.4rem;
  font-weight: normal;
  color: #333333;
}

/*--------------------
-----Dep 1: Minh----
--------------------*/
/*--------------------
-----Dep 2: Vương----
--------------------*/
/*--------------------
-----Dep 1: Minh----
--------------------*/
/*--------------------
-----Dep 2: Vương----
--------------------*/
/*--------------------
-----Dep 1: Minh----
--------------------*/
/*--------------------
-----Dep 2: Vương----
--------------------*/
.row {
  margin: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0;
  margin: 0;
}

/*--------------------
-----Dep 1: Minh----
--------------------*/
/*--------------------
-----Dep 2: Vương----
--------------------*/
.btn-blue {
  background-color: #0276b3;
  border: 1px solid #0276b3;
  border-radius: 2px;
  padding: 1.5rem 4rem;
  margin: 40px  0 0 0;
  text-align: center;
  transition: all .1s;
}

.btn-blue .btn-link {
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  padding: 0 4rem;
}

.btn-blue:hover {
  background-color: #fff;
  border: 1px solid #0276b3;
  border-radius: 2px;
  padding: 1.5rem 2.5rem;
}

.btn-blue:hover .btn-link {
  color: #0276b3;
}

.btn-blue-big {
  background-color: #0276b3;
  border: 1px solid #0276b3;
  border-radius: 2px;
  padding: 1.5rem 1rem;
  margin: 0;
  text-align: center;
  transition: all .1s;
}

.btn-blue-big .btn-link {
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  padding: 0 4rem;
}

.btn-blue-big:hover {
  background-color: #fff;
  border: 1px solid #0276b3;
  border-radius: 2px;
  padding: 1.5rem 1rem;
}

.btn-blue-big:hover .btn-link {
  color: #0276b3;
}

.btn-orange {
  background-color: #d92e14;
  border: 1px solid #d92e14;
  border-radius: 2px;
  padding: 1.5rem 2.5rem;
  margin: 40px  0 0 0;
  text-align: center;
  transition: all .1s;
}

.btn-orange .btn-link {
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  padding: 0 4rem;
}

.btn-orange:hover {
  background-color: #fff;
  border: 1px solid #d92e14;
  border-radius: 2px;
  padding: 1.5rem 2rem;
}

.btn-orange:hover .btn-link {
  color: #d92e14;
}

.introduction__section .header__primary {
  color: #333333;
  font-size: 4.2rem;
  font-weight: 500;
  text-align: center;
  margin: 20px 0px 10px;
}

.introduction__section .header__text {
  font-size: 1.6rem;
  font-weight: 300;
  color: #333333;
  text-align: center;
}

.introduction__section .introduction__img img {
  width: 100%;
  text-align: center;
}

.billboard__section {
  background: url(../../img/billboard.jpeg);
  background-position: center;
  background-size: cover;
  height: 200px;
}

.billboard__section .billboard__box {
  text-align: center;
  padding: 2.5rem;
  letter-spacing: 2px;
}

.billboard__section .billboard__box .header__primary {
  color: #fff;
  font-size: 4.2rem;
  font-weight: 500;
  text-align: center;
  margin: 20px 0px 10px;
  margin-bottom: 3.5rem;
}

.billboard__section .billboard__box .billboard__link {
  font-size: 1.4rem;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  margin: 3.5rem;
  padding: 2rem 1rem;
}

.galleryBrand__section {
  position: relative;
}

.galleryBrand__section .galleryBrand__box {
  width: 100%;
  overflow: hidden;
}

.galleryBrand__section .galleryBrand__box img {
  width: 100%;
  transform: scale(1);
  transition: all .2s;
}

.galleryBrand__section .galleryBrand__box:hover img {
  transform: scale(1.1);
}

.galleryBrand__section .galleryBrand__text {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(2, 118, 179, 0.7);
  width: 100%;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: baseline;
}

.galleryBrand__section .galleryBrand__text p, .galleryBrand__section .galleryBrand__text i {
  line-height: 20px;
  color: #fff;
  padding: 0;
  margin: 0;
}

.galleryBrand__section .galleryBrand__text .link__icon {
  border: 1px solid #fff;
  border-radius: 50%;
  transition: all .1s;
}

.galleryBrand__section .galleryBrand__text .link__icon i {
  padding: 0.5rem 1rem;
}

.galleryBrand__section .galleryBrand__text .link__icon:hover {
  background-color: #fff;
}

.galleryBrand__section .galleryBrand__text .link__icon:hover i {
  color: #0276b3;
}

.galleryBrand__section .galleryBrand__box-big {
  letter-spacing: 2px;
}

.galleryBrand__section .galleryBrand__box-big .header__tertiary {
  font-size: 2.75rem;
  font-weight: normal;
  color: #333333;
  margin: 20px 0px 10px;
}

.galleryBrand__section .galleryBrand__box-big p {
  font-size: 1.6rem;
  font-weight: 600;
  color: #626466;
  margin: 20px 0px 10px;
}

.galleryBrand__section .galleryBrand__box-4 .galleryBrand__text {
  font-size: 2.75rem;
}

.feature__section {
  background-color: #f7f7f7;
  padding: 4rem;
}

.feature__section .header__primary {
  color: #d92e14;
  font-size: 4.2rem;
  font-weight: 500;
  text-align: center;
  margin: 20px 0px 10px;
  margin: 0;
}

.feature__section .header__text {
  font-size: 1.6rem;
  font-weight: 300;
  color: #333333;
  text-align: center;
}

.feature__section .introduction__img img {
  width: 100%;
  text-align: center;
}

/* Style the button that is used to open and close the collapsible content */
.disclosure__collapsible {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  transition: all .5s;
}

.disclosure__collapsible:hover {
  border: 1px solid #0276b3;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .disclosure__collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.disclosure__content {
  padding: 0 18px;
  overflow: scroll;
  height: 20rem;
  background-color: #f1f1f1;
}

.footer__banner {
  background-color: #092a46;
  padding: 2rem 2rem 1.5rem;
  letter-spacing: 2px;
}

.footer__banner .header__primary {
  color: #fff;
  font-size: 4.2rem;
  font-weight: 500;
  text-align: center;
  margin: 20px 0px 10px;
  font-weight: 500;
}

.footer__banner .header__text {
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */