@charset "UTF-8";
/*--------------------
-----Dep 1: Minh----
--------------------*/
/*--------------------
-----Dep 2: Vương----
--------------------*/
/*--------------------
-----Dep 1: Minh----
--------------------*/
/*--------------------
-----Dep 2: Vương----
--------------------*/
/*--------------------
-----Dep 1: Minh----
--------------------*/
/*--------------------
-----Dep 2: Vương----
--------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 62em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Ford Antenna Cond Light",arial,helvetica,sans-serif;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  font-size: 1.4rem;
  font-weight: normal;
  color: #333333;
}

/*--------------------
-----Dep 1: Minh----
--------------------*/
/*--------------------
-----Dep 2: Vương----
--------------------*/
/*--------------------
-----Dep 1: Minh----
--------------------*/
/*--------------------
-----Dep 2: Vương----
--------------------*/
/*--------------------
-----Dep 1: Minh----
--------------------*/
/*--------------------
-----Dep 2: Vương----
--------------------*/
.row {
  margin: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0;
  margin: 0;
}

/*--------------------
-----Dep 1: Minh----
--------------------*/
/*--------------------
-----Dep 2: Vương----
--------------------*/
.btn-blue {
  background-color: #0276b3;
  border: 1px solid #0276b3;
  border-radius: 2px;
  padding: 1.5rem 4rem;
  margin: 40px  0 0 0;
  text-align: center;
  transition: all .1s;
}

.btn-blue .btn-link {
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  padding: 0 4rem;
}

.btn-blue:hover {
  background-color: #fff;
  border: 1px solid #0276b3;
  border-radius: 2px;
  padding: 1.5rem 2.5rem;
}

.btn-blue:hover .btn-link {
  color: #0276b3;
}

.btn-blue-big {
  background-color: #0276b3;
  border: 1px solid #0276b3;
  border-radius: 2px;
  padding: 1.5rem 1rem;
  margin: 0;
  text-align: center;
  transition: all .1s;
}

.btn-blue-big .btn-link {
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  padding: 0 4rem;
}

.btn-blue-big:hover {
  background-color: #fff;
  border: 1px solid #0276b3;
  border-radius: 2px;
  padding: 1.5rem 1rem;
}

.btn-blue-big:hover .btn-link {
  color: #0276b3;
}

.btn-orange {
  background-color: #d92e14;
  border: 1px solid #d92e14;
  border-radius: 2px;
  padding: 1.5rem 2.5rem;
  margin: 40px  0 0 0;
  text-align: center;
  transition: all .1s;
}

.btn-orange .btn-link {
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  padding: 0 4rem;
}

.btn-orange:hover {
  background-color: #fff;
  border: 1px solid #d92e14;
  border-radius: 2px;
  padding: 1.5rem 2rem;
}

.btn-orange:hover .btn-link {
  color: #d92e14;
}

.introduction__section .header__primary {
  color: #333333;
  font-size: 4.2rem;
  font-weight: 500;
  text-align: center;
  margin: 20px 0px 10px;
}

.introduction__section .header__text {
  font-size: 1.6rem;
  font-weight: 300;
  color: #333333;
  text-align: center;
}

.introduction__section .introduction__img img {
  width: 100%;
  text-align: center;
}

.billboard__section {
  background: url(../../img/billboard.jpeg);
  background-position: center;
  background-size: cover;
  height: 200px;
}

.billboard__section .billboard__box {
  text-align: center;
  padding: 2.5rem;
  letter-spacing: 2px;
}

.billboard__section .billboard__box .header__primary {
  color: #fff;
  font-size: 4.2rem;
  font-weight: 500;
  text-align: center;
  margin: 20px 0px 10px;
  margin-bottom: 3.5rem;
}

.billboard__section .billboard__box .billboard__link {
  font-size: 1.4rem;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  margin: 3.5rem;
  padding: 2rem 1rem;
}

.galleryBrand__section {
  position: relative;
}

.galleryBrand__section .galleryBrand__box {
  width: 100%;
  overflow: hidden;
}

.galleryBrand__section .galleryBrand__box img {
  width: 100%;
  transform: scale(1);
  transition: all .2s;
}

.galleryBrand__section .galleryBrand__box:hover img {
  transform: scale(1.1);
}

.galleryBrand__section .galleryBrand__text {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(2, 118, 179, 0.7);
  width: 100%;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: baseline;
}

.galleryBrand__section .galleryBrand__text p, .galleryBrand__section .galleryBrand__text i {
  line-height: 20px;
  color: #fff;
  padding: 0;
  margin: 0;
}

.galleryBrand__section .galleryBrand__text .link__icon {
  border: 1px solid #fff;
  border-radius: 50%;
  transition: all .1s;
}

.galleryBrand__section .galleryBrand__text .link__icon i {
  padding: 0.5rem 1rem;
}

.galleryBrand__section .galleryBrand__text .link__icon:hover {
  background-color: #fff;
}

.galleryBrand__section .galleryBrand__text .link__icon:hover i {
  color: #0276b3;
}

.galleryBrand__section .galleryBrand__box-big {
  letter-spacing: 2px;
}

.galleryBrand__section .galleryBrand__box-big .header__tertiary {
  font-size: 2.75rem;
  font-weight: normal;
  color: #333333;
  margin: 20px 0px 10px;
}

.galleryBrand__section .galleryBrand__box-big p {
  font-size: 1.6rem;
  font-weight: 600;
  color: #626466;
  margin: 20px 0px 10px;
}

.galleryBrand__section .galleryBrand__box-4 .galleryBrand__text {
  font-size: 2.75rem;
}

.feature__section {
  background-color: #f7f7f7;
  padding: 4rem;
}

.feature__section .header__primary {
  color: #d92e14;
  font-size: 4.2rem;
  font-weight: 500;
  text-align: center;
  margin: 20px 0px 10px;
  margin: 0;
}

.feature__section .header__text {
  font-size: 1.6rem;
  font-weight: 300;
  color: #333333;
  text-align: center;
}

.feature__section .introduction__img img {
  width: 100%;
  text-align: center;
}

/* Style the button that is used to open and close the collapsible content */
.disclosure__collapsible {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  transition: all .5s;
}

.disclosure__collapsible:hover {
  border: 1px solid #0276b3;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .disclosure__collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.disclosure__content {
  padding: 0 18px;
  overflow: scroll;
  height: 20rem;
  background-color: #f1f1f1;
}

.footer__banner {
  background-color: #092a46;
  padding: 2rem 2rem 1.5rem;
  letter-spacing: 2px;
}

.footer__banner .header__primary {
  color: #fff;
  font-size: 4.2rem;
  font-weight: 500;
  text-align: center;
  margin: 20px 0px 10px;
  font-weight: 500;
}

.footer__banner .header__text {
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

.footer__search {
  padding: 2.5rem 2rem;
  font-size: 1.6rem;
  background-color: #333333;
  justify-content: space-between;
  align-items: center;
}

.footer__search .nav-search__box {
  color: #fff;
  padding: 0.5rem 1rem;
}

.footer__search .nav-search__box span i {
  font-size: 2.4rem;
}

.footer__search .nav-search__box input {
  background-color: transparent;
  letter-spacing: 2px;
  border: 0 none;
  margin: 0;
  font-size: 2.4rem;
  z-index: 5;
  padding-left: 2rem;
}

.footer__search .nav-search__box input::placeholder {
  color: #fff;
  font-size: 2.4rem;
}

.footer__search .nav-search__box input:focus {
  outline: 0;
  outline-offset: 0;
  color: #fff;
}

.footer__search .nav-text__box {
  justify-content: flex-end;
}

.footer__search .nav-text__box .nav-item {
  list-style-type: none;
}

.footer__search .nav-text__box .nav-item .nav-link {
  text-decoration: none;
  color: #a7a7a7;
  transition: all .2s;
  letter-spacing: 1px;
}

.footer__search .nav-text__box .nav-item .nav-link:hover {
  background-color: transparent;
  color: #fff;
}

.footer__search .nav-text__box .nav-item .active {
  background-color: transparent;
  color: #fff;
}

.nav-search__box:hover {
  outline-offset: 5px;
  outline: 1px solid #0276b3 !important;
}

.footer__main {
  justify-content: space-between;
  padding: 4rem 4rem 10rem 4rem;
  background-color: #242424;
}

.footer__main .nav-text__box {
  justify-content: flex-end;
}

.footer__main .nav-text__box .nav-item {
  list-style-type: none;
}

.footer__main .nav-text__box .nav-item .nav-link {
  text-decoration: none;
  color: #a7a7a7;
  transition: all .2s;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.footer__main .nav-text__box .nav-item .nav-link:hover {
  background-color: transparent;
  color: #fff;
}

.footer__main .nav-text__box .nav-item .active {
  background-color: transparent;
  color: #fff;
  padding-bottom: 3rem;
  font-size: 1.6rem;
}

.footer__main .nav__dropdown-box {
  display: none;
}

.footer__main .nav__dropdown-box .respond-dropdown__phone {
  display: none;
}

@media only screen and (max-width: 48em) {
  .footer__main .nav__dropdown-box .respond-dropdown__phone {
    display: block;
  }
}

@media only screen and (max-width: 62em) {
  .footer__main .footer-nav__tab-port {
    width: 0;
    display: none;
  }
  .footer__main .nav__dropdown-box {
    display: block;
    width: 50%;
  }
}

@media only screen and (max-width: 48em) {
  .footer__main .footer-nav__phone {
    display: none;
  }
  .footer__main .nav__dropdown-box {
    display: block;
    width: 50%;
  }
  .footer__main .nav__dropdown-box {
    display: block;
    width: 100%;
    padding: 0;
  }
  .footer__main .nav__dropdown-box .respond-dropdown__phone {
    display: block;
  }
}

.footer__secondary {
  background-color: #102b4e;
  padding: 4rem 5rem;
  justify-content: space-between;
  align-items: baseline;
}

.footer__secondary .footer__messenger {
  justify-content: space-around;
}

.footer__secondary .footer__messenger .messenger__box .icon__round {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  background-color: #2096cd;
  color: #fff;
  font-size: 2rem;
}

.footer__secondary .footer__messenger .messenger__box .messenger__text {
  padding-left: 1.5rem;
  line-height: 4rem;
  letter-spacing: 1px;
  font-size: 1.8rem;
  font-weight: 300;
  color: #37a9e8;
}

@media only screen and (max-width: 62em) {
  .footer__secondary .footer__messenger .messenger__box-tab-port {
    display: none;
    width: 0%;
  }
}

.footer__secondary .footer__social {
  justify-content: flex-end;
}

.footer__secondary .footer__social .social__text {
  padding-right: 3rem;
  line-height: 4rem;
  letter-spacing: 1px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
}

.footer__secondary .footer__social .icon__square {
  width: 4rem;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  background-color: #2096cd;
  color: #fff;
  font-size: 2rem;
  margin-left: .5rem;
}

.footer__secondary .footer__social .icon__fb {
  background-color: #4064AC;
}

.footer__secondary .footer__social .icon__tw {
  background-color: #71C9F8;
}

.footer__secondary .footer__social .icon__youtube {
  background-color: #FF0000;
}

.footer__secondary .footer__social .icon__in {
  background-color: #EDB7D9;
}

.footer__tertiary {
  padding: 5rem;
}

.footer__tertiary .footer__logo {
  justify-content: space-between;
}

.footer__tertiary .footer__logo .footer__language i {
  font-size: 2.4rem;
  padding-right: 2rem;
  color: #0276b3;
  transition: all .3s;
}

.footer__tertiary .footer__logo .footer__language a {
  display: inline-block;
  text-decoration: underline;
  font-size: 1.4rem;
  vertical-align: 0.5rem;
  transition: all .3s;
}

.footer__tertiary .footer__logo .footer__language:hover i, .footer__tertiary .footer__logo .footer__language:hover a {
  color: #333333;
}

.footer__tertiary .footer__logo .footer__logo-ford {
  text-align: right;
}

.footer__tertiary .footer__logo .footer__logo-ford img {
  width: 50%;
}

.footer__tertiary .footer__copyright {
  padding: 1rem 0;
}

.footer__tertiary .footer__copyright a {
  font-size: 1.3rem;
  font-weight: normal;
  color: #555555;
  letter-spacing: 1px;
  text-decoration: none;
}

.footer__tertiary .footer__nav {
  padding: 0;
}

.footer__tertiary .footer__nav .nav-text__box {
  justify-content: space-between;
}

.footer__tertiary .footer__nav .nav-text__box .nav-item {
  list-style-type: none;
}

.footer__tertiary .footer__nav .nav-text__box .nav-item .nav-link {
  text-decoration: none;
  color: #555555;
  transition: all .2s;
  letter-spacing: 1px;
  padding: 0rem;
}

.footer__tertiary .footer__nav .nav-text__box .nav-item .nav-link:hover {
  color: #102b4e;
}

.footer__tertiary .footer__nav .nav-text__box .nav-item .active {
  background-color: transparent;
  color: #fff;
}

@media only screen and (max-width: 62em) {
  .footer__tertiary .footer__nav .nav-text__box .nav-item {
    width: 20%;
    padding: 1rem 0;
  }
}

.ford-dropdown__section {
  background-color: transparent;
}

.ford-dropdown__box {
  width: 100%;
  margin: 0 auto;
}

.ford-dropdown__box > ul {
  list-style: none;
  padding: 0;
  margin: 0 0 2rem 0;
}

.ford-dropdown__item a {
  text-decoration: none;
}

.ford-dropdown__item [data-toggle="dropdown"] {
  position: relative;
  display: block;
  color: #fff;
  padding: 1rem 1rem 3rem 0rem;
  border-bottom: 1px solid #3a3a3a;
  background-color: transparent;
  font-size: 1.6rem;
}

.ford-dropdown__item .icon-arrow {
  position: absolute;
  display: block;
  font-size: 1em;
  color: #fff;
  top: 14px;
  right: 10px;
}

.ford-dropdown__item .icon-arrow.ford-open {
  transform: rotate(-180deg);
  transition: all .5s;
}

.ford-dropdown__item .icon-arrow.ford-close {
  transform: rotate(0deg);
  transition: all .5s;
}

.ford-dropdown__item .icon-arrow:before {
  content: '\25BC';
}

.ford-dropdown__item .ford-dropdown__menu {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ford-dropdown__item .ford-dropdown__menu li {
  padding: 0;
}

.ford-dropdown__item .ford-dropdown__menu li a {
  display: block;
  text-decoration: none;
  color: #a7a7a7;
  transition: all .2s;
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding: .5rem 1rem;
}

.ford-dropdown__item .ford-dropdown__menu li a:hover {
  background-color: transparent;
  color: #fff;
}

.ford-dropdown__item .ford-show {
  display: block;
  max-height: 9999px;
}

.ford-dropdown__item .ford-hide {
  max-height: 0;
}
/*# sourceMappingURL=main.css.map */