// first helper always create first
// helper 
@import './Helper/variable';
@import './Helper/mixins';
@import './Helper/extend';

// vendor 
// import file sass 

// Base 
@import './Base/reset';
@import './Base/customize';
@import './Base/normalized';

// components 
@import './Components/button';

// layouts 
@import './Layouts/header';
@import './Layouts/carousel';
@import './Layouts/introduction';
@import './Layouts/billboard';
@import './Layouts/galleryBrand';
@import './Layouts/feature';
@import './Layouts/disclosure';
@import './Layouts/footer';

// Page
// dung rieng nen khai bao duoi de de code 

//Theme