
/*--------------------
-----Dep 1: Minh----
--------------------*/














/*--------------------
-----Dep 2: Vương----
--------------------*/
.btn-blue {
    @include styleBtn($color-blue-light-3, $color-blue-light-3, $border-radius, $pd-3, $pd-6);
    margin: 40px  0 0 0;
    text-align: center;
    transition: all .1s;
    .btn-link {
        text-decoration: none;
        letter-spacing: 2px;
        text-align: center;
        color: $color-white-0;
        font-size: $fs-2;
        padding: 0 $pd-6;
    }
    &:hover{
        @include styleBtn($color-white-0, $color-blue-light-3, $border-radius, $pd-3, $pd-5);
        .btn-link {
            color: $color-blue-light-3;
        }
    }
}
.btn-blue-big {
    @include styleBtn($color-blue-light-3, $color-blue-light-3, $border-radius, $pd-3, $pd-2);
    margin: 0;
    text-align: center;
    transition: all .1s;
    .btn-link {
        text-decoration: none;
        letter-spacing: 2px;
        text-align: center;
        color: $color-white-0;
        font-size: $fs-2;
        padding: 0 $pd-6;
    }
    &:hover{
        @include styleBtn($color-white-0, $color-blue-light-3, $border-radius, $pd-3, $pd-2);
        .btn-link {
            color: $color-blue-light-3;
        }
    }
}
.btn-orange {
    @include styleBtn($color-orange-1, $color-orange-1, $border-radius, $pd-3, $pd-5);
    margin: 40px  0 0 0;
    text-align: center;
    transition: all .1s;
    .btn-link {
        text-decoration: none;
        letter-spacing: 2px;
        text-align: center;
        color: $color-white-0;
        font-size: $fs-2;
        padding: 0 $pd-6;
    }
    &:hover{
        @include styleBtn($color-white-0, $color-orange-1, $border-radius, $pd-3, $pd-4);
        .btn-link {
            color: $color-orange-1;
        }
    }
}
