// variable color
$color-black-0: #333333; // default
$color-white-0: #fff; //default
$color-white-1: #f7f7f7; //default
$color-white-cream:#f2f3f5;
$color-blue-light-1:#2096cd;
$color-blue-light-2:#37a9e8;
$color-blue-light-3: #0276b3;
$color-blue-light-4: #2861a4;
$color-dark-1: #014467;
$color-dark-2: #102b4e;
$color-dark-3: #092a46;
$color-orange-1:#d92e14;
$color-gray-0:#F7F8FA;
$color-gray-1: #dedfe0;
$color-gray-2: #686f7a;
$color-gray-3:#242424 ;
$color-trans:transparent;
$color-border:#3a3a3a;
// variable font-size 1rem = 10 px
$fs-0: 1.2rem; //default
$fs-1: 1.3rem;
$fs-2: 1.4rem;
$fs-3: 2.1rem;
$fs-4: 2.4rem;
$fs-5: 2.75rem;
$fs-6: 4.0rem;
$fs-7: 4.2rem;
$fs-8: 4.6rem;
$fs-9: 6.0rem;

//variable margin  1rem = 10 px
$mg-0: .5rem;
$mg-1: 1rem;
$mg-2: 2.5rem;
$mg-3: 3.5rem;

//variable border-radius
$border-radius: 2px;
//variable padding  1rem = 10 px
$pd-0: .5rem; //default
$pd-2: 1rem;
$pd-3: 1.5rem;
$pd-4: 2rem;
$pd-5: 2.5rem;
$pd-6: 4rem;


//variable line-height
$line-height-0: 1.43; //default
$line-height-1: 2; 
$line-height-2: 3; 

//variable font-weight
$fw-normal: normal;
$fw-normal-0: 500;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;


/*--------------------
-----Dep 1: Minh----
--------------------*/
$mg-3_3: 6.0rem;
$color-gray-3_3: #626466 ;
$fs-2_2: 1.6rem;













/*--------------------
-----Dep 2: Vương----
--------------------*/