.carousel__section {
    #carousel-Ford-Indicators {
        position: relative;
        .carousel-indicators {
            padding-bottom: 2rem;
            li {
                width: 1rem;
                height: 1rem;
                border: 2px solid $color-white-0;
                background-color: $color-white-0;
                opacity: 1;
                border-radius: 50%;
                transform: scale(0.7);
                transition: all .2s;
                margin-left: 2rem;
            }
            .active {
                background-color: transparent;
                transform: scale(1.2);
            }
        }
        .carousel-control-prev-icon, .carousel-control-next-icon {
            background-color: $color-gray-2;
            padding: 4rem;
            position: absolute;
            opacity: 0.7;
        }
        .carousel-control-prev-icon{
            left: 0;
        }
        .carousel-control-next-icon {
            right: 0;
        }
        .carousel-inner {
            .carousel-item  {
                position: relative;
                .carousel-text__box {
                    position: absolute;
                    top: 25%;
                    left: 7%;
                }
                .carousel-text__box-header {
                    top: 10%;
                    left: 5%;
                    h1 {
                        @include styleText($fs-7, $fw-normal-0, $color-white-0);
                        font-size: $fs-8;
                    }
                    .carousel__button {
                        text-align: left;
                    }
                } 
            }
          
        }
    }
}
