/* Style the button that is used to open and close the collapsible content */
.disclosure__collapsible {
    background-color:$color-white-0;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    transition: all .5s;
    &:hover {
        border: 1px solid $color-blue-light-3;
    }
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .disclosure__collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .disclosure__content {
    padding: 0 18px;
    overflow: scroll;
    height: 20rem;
    background-color: #f1f1f1;
    
  }