/* Style the button that is used to open and close the collapsible content */
.disclosure__collapsible {
    width: 100%;
    text-align: center;
    padding: 2rem;
    a {
      text-decoration: none;
      text-transform: uppercase;
      @include styleText($fs-2, $fw-normal, $color-blue-light-1);
      padding: 1rem;
      letter-spacing: 1px;
      transition: all .5s;
      &:hover {
        color: $color-dark-1;
        
      }
    }
    &:hover {
      background-color: $color-white-0;
    }
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .disclosure__content {
    padding: 0 18px;
    overflow: scroll;
    height: 20rem;
    background-color: #f1f1f1;
    
  }