.footer__banner {
    background-color: $color-dark-3;
    padding: 2rem 2rem 1.5rem;
    letter-spacing: 2px;
    .header__primary {
        @include Header__primary($color-white-0);
        font-weight: 500;
    }
    .header__text {
        @include styleText($fs-2 + 0.2, 300, $color-white-0);
        text-align: center;
    }
    
}
.footer__search {
    padding: $pd-5 $pd-4;
    font-size: 1.6rem;
    background-color: $color-black-0;
    justify-content: space-between;
    align-items: center;
      .nav-search__box {
        color: $color-white-0;
        padding: 0.5rem 1rem;
        span {
            i {
                font-size: $fs-4;
            }
        }
        input {
            background-color: transparent;
            letter-spacing: 2px;
            border: 0 none;
            margin: 0;
            font-size: 2.4rem;
            z-index: 5;
            padding-left: 2rem;
            &::placeholder{
                color: $color-white-0;
                font-size: $fs-4;
            }
            &:focus {
                outline: 0;
                outline-offset: 0;
                color: $color-white-0;
            }
            
            
        }
        
      }
      
      .nav-text__box {
          justify-content: flex-end;
          .nav-item {
              list-style-type: none;
              .nav-link {
                    text-decoration: none;
                    color: $color-gray-2_2;
                    transition: all .2s;
                    letter-spacing: 1px;
                  &:hover {
                    background-color: transparent;
                    color: $color-white-0;
                }
              }
              .active{
                background-color: transparent;
                color: $color-white-0;
            }
              
          }
      }
      @include respond(phone){
        .nav-search__box {
            display: none;
            width: 0;
        }
        .nav-text__box {
            justify-content: flex-start;
        }
    }
}
.nav-search__box:hover {
    outline-offset: 5px;
    outline: 1px solid #0276b3 !important;
}
.footer__main {
    justify-content: space-between;
    padding: 4rem 4rem 10rem 4rem;
    background-color: $color-gray-3;
    .nav-text__box {
        justify-content: flex-end;
        .nav-item {
            list-style-type: none;
            .nav-link {
                text-decoration: none;
                color: $color-gray-2_2;
                transition: all .2s;
                font-size: $fs-2;
                letter-spacing: 1px;
                &:hover {
                    background-color: transparent;
                    color: $color-white-0;
                }
            }
            .active{
              background-color: transparent;
              color: $color-white-0;
              padding-bottom: 3rem;
              font-size: $fs-2 + 0.2;

          }
            
        }
        
    }
    .nav__dropdown-box {
        display: none;
        .respond-dropdown__phone {
            display: none;
        }
        @include respond(phone){
            .respond-dropdown__phone {
                display: block;
            }
        }
    }
    @include respond(tab-port) { // width < 992?
        .footer-nav__tab-port {
            width: 0;
            display: none;
        }
        .nav__dropdown-box {
            display:block;
            width: 50%;
        }
    }
    @include respond(phone){
        .footer-nav__phone {
            display: none;
        }
        .nav__dropdown-box {
            display:block;
            width: 50%;
        }
        .nav__dropdown-box {
            display:block;
            width: 100%;
            padding: 0;
            .respond-dropdown__phone {
                display: block;
            }
        }
    }
    
    
}
.footer__secondary {
    background-color: $color-dark-2;
    padding: 4rem 5rem;
    justify-content: space-between;
    align-items: baseline;
    .footer__messenger {
        justify-content: space-around;
        .messenger__box {
            .icon__round {
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                text-align: center;
                line-height: 4rem;
                background-color: $color-blue-light-1;
                color: $color-white-0;
                font-size: 2rem;
            }
            .messenger__text {
                padding-left: 1.5rem;
                line-height: 4rem;
                letter-spacing: 1px;
                @include styleText(1.8rem, 300, $color-blue-light-2);
            }

        }
        @include respond(tab-port){
            .messenger__box-tab-port {
                display: none;
                width: 0%;
            }
        }
        

        
    }
    .footer__social {
        justify-content: flex-end;
        .social__text {
            padding-right: 3rem;
            line-height: 4rem;
            letter-spacing: 1px;
            @include styleText(1.6rem, 300, $color-white-0);
        }
        .icon__square {
            width: 4rem;
            height: 4rem;
            text-align: center;
            line-height: 4rem;
            background-color: $color-blue-light-1;
            color: $color-white-0;
            font-size: 2rem;
            margin-left:.5rem;
        }
        .icon__fb {
            background-color: #4064AC;
        }
        .icon__tw {
            background-color: #71C9F8;
        }
        .icon__youtube {
            background-color: #FF0000;
        }
        .icon__in {
            background-color: #EDB7D9;
        }

    }
}
.footer__tertiary {
    padding: 5rem;
    .footer__logo {
        justify-content: space-between;
        .footer__language {
            i {
                font-size: $fs-4;
                padding-right: 2rem;
                color: $color-blue-light-3;
                transition: all .3s;
            }
            a {
                display: inline-block;
                text-decoration: underline;
                font-size: $fs-2;
                vertical-align: 0.5rem;
                transition: all .3s;
            }
            &:hover i, &:hover a  {
                color: $color-black-0;
            }
        }
        .footer__logo-ford {
            text-align: right;
            img {
                width: 50%;
            }
        }
    }
    .footer__copyright{
        padding: 1rem 0;
        a {
            @include styleText($fs-1, $fw-normal, $color-gray-3_4);
            letter-spacing: 1px;
            text-decoration: none;
            
        }
    }
    .footer__nav {
        padding: 0;
        .nav-text__box {
            justify-content: space-between;
            .nav-item {
                list-style-type: none;
                .nav-link {
                      text-decoration: none;
                      color: $color-gray-3_4;
                      transition: all .2s;
                      letter-spacing: 1px;
                      padding: 0rem;
                    &:hover {
                      color: $color-dark-2;
                  }
                }
                .active{
                  background-color: transparent;
                  color: $color-white-0;
              }
                
            }
            @include respond(tab-port){
                .nav-item {
                    width: 20%;
                    padding: 1rem 0;
                }
            }
        }
    }
}