.footer__banner {
    background-color: $color-dark-3;
    padding: 2rem 2rem 1.5rem;
    letter-spacing: 2px;
    .header__primary {
        @include Header__primary($color-white-0);
        font-weight: 500;
    }
    .header__text {
        @include styleText($fs-2 + 0.2, 300, $color-white-0);
        text-align: center;
    }
    
}
.footer__search {
    padding: $pd-5 $pd-4;
    font-size: 1.6rem;
    background-color: $color-black-0;
    justify-content: space-between;
    align-items: center;
      .nav-search__box {
        color: $color-white-0;
        padding: 0.5rem 1rem;
        span {
            i {
                font-size: $fs-4;
            }
        }
        input {
            background-color: transparent;
            letter-spacing: 2px;
            border: 0 none;
            margin: 0;
            font-size: 2.4rem;
            z-index: 5;
            padding-left: 2rem;
            &::placeholder{
                color: $color-white-0;
                font-size: $fs-4;
            }
            &:focus {
                outline: 0;
                outline-offset: 0;
                color: $color-white-0;
            }
            
            
        }
        
      }
      .nav-text__box {
          justify-content: flex-end;
          .nav-item {
              list-style-type: none;
              .nav-link {
                    text-decoration: none;
                    color: $color-gray-2_2;
                    transition: all .2s;
                    letter-spacing: 1px;
                  &:hover {
                    background-color: transparent;
                    color: $color-white-0;
                }
              }
              .active{
                background-color: transparent;
                color: $color-white-0;
            }
              
          }
      }
}
.nav-search__box:hover {
    outline-offset: 5px;
    outline: 1px solid #0276b3 !important;
}
.footer__main {
    justify-content: space-between;
    padding: 4rem 4rem 10rem 4rem;
    background-color: $color-gray-3;
    .nav-text__box {
        justify-content: flex-end;
        .nav-item {
            list-style-type: none;
            .nav-link {
                text-decoration: none;
                color: $color-gray-2_2;
                transition: all .2s;
                font-size: $fs-2;
                letter-spacing: 1px;
                &:hover {
                    background-color: transparent;
                    color: $color-white-0;
                }
            }
            .active{
              background-color: transparent;
              color: $color-white-0;
              padding-bottom: 3rem;
              font-size: $fs-2 + 0.2;

          }
            
        }
    }
}