header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 999;
}
.header__brand  {
    justify-content: space-between;
    align-items: baseline;
    background-color: #F2F2F2;
    padding: 0.5rem;
    .brand__box {
        padding-left: 2rem;
        img {
            width: 25%;
        }
        span {
            @include styleText($fs-0, $fw-normal, #2E80BA);
            text-transform: uppercase;
        }
    }
    .brand__location {
        text-align: center;
        i {
            font-size: $fs-3;
        }
        span {
            letter-spacing: 1px;
            padding-left: 1rem;
            @include styleText($fs-0, $fw-bold, $color-blue-light-2);
        }
    }
}
#header__nav {
    background-color: $color-white-0;
    padding: 0 2rem;
    .navbar-expand-lg {
        position: relative;
        .dropdown {
            position: static;
            .dropdown-item__full {
                width: 100vw;
                height: 75vh;
                overflow-y: auto;
            }
            .dropdown-menu {
                margin-top: -0.1rem;
                left: -2rem;
                border: none;
            }
        }
    }
    .header__main {
        justify-content: space-between;
        .navbar-nav {
            .nav-link {
                @include styleText($fs-2, $fw-normal, $color-blue-light-3);
                letter-spacing: 1px;
                transition: all .2s;
                margin-left: 1.5rem;
                &:hover {
                    color: $color-dark-0;
                }
            }
            @include respond(tab-port){
                .nav-link {
                    font-size: $fs-1;
                    margin-left: 1rem;
                    
                }
            }
            @include respond(tab-land){
                .nav-link {
                    font-size: $fs-1;
                    margin-left: 1rem;
                    
                }
            }
        }
        .dropdown-toggle::after {
            display: none;
        }
    }
    .dropdown-item__full {
        .nav-car__box {
            padding: 2rem;
            .nav-car__item {
                img {
                    width: 100%;
                }
                .nav-car__header {
                    text-decoration: none;
                    display: block;
                    @include styleText($fs-2, $fw-normal, $color-dark-2);
                    margin-bottom: 1rem;
                    text-transform: uppercase;
                    i {
                        display: none;
                        transition: all .2s;
                    }
                    &:hover i {
                        display: inline-block;
                    }
                }
                p {
                    @include styleText($fs-0, $fw-normal, #4d4d4d);
                    margin-bottom: 1rem;
                }
                .nav-car__button {
                    margin-bottom: 0.5rem;
                    a {
                        text-decoration: none;
                        padding-bottom: 2px;
                        border-bottom: 1px solid $color-blue-light-3;
                        @include styleText($fs-2, $fw-normal, $color-blue-light-3);
                    }
                }
               
                
            
            }   
        }
        .dropdown-item__bottom {
            padding: 1.5rem;
            background-color: $color-white-1;
            .btn-nav__dropdown {
                border-radius: 25px;
                margin: 0 2rem;
                padding: 1rem 4rem;
                @include styleText($fs-1, $fw-normal, $color-white-1);
                &:hover{
                    color: $color-blue-light-3;
                    border: 1px solid $color-blue-light-3
                } 
            }
            @include respond(phone){
                .btn-nav__dropdown {
                    margin: 0 auto;
                    margin-bottom: 1rem;
                }
            }

        }
       
        
    }
 }