.introduction__section {
    .header__primary {
        @include Header__primary($color-black-0);
    }
    .header__text {
        @include styleText($fs-2 + 0.2, 300, $color-black-0);
        text-align: center;
    }
    .introduction__img {
        img {
            width: 100%;
            text-align: center;
        }
    }
}